Importing the dependencies.

In [25]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Analysis

In [26]:
#loading the PIMA diabetes dataset to a pandas dataframe
diabetes_dataset = pd.read_csv('./diabetes.csv')

In [27]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [28]:
diabetes_dataset.shape

(768, 9)

In [29]:
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [31]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 in Outcome represents Non Diabetic and 1 is diabetic

In [32]:
diabetes_dataset.groupby('Outcome')

In [33]:
x = diabetes_dataset.drop(columns = 'Outcome', axis=1)
y = diabetes_dataset['Outcome']

In [34]:
x.shape

(768, 8)

Train and Test Split

In [35]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [36]:
print(x.shape,x_train.shape,x_test.shape)
print(y_train)

(768, 8) (614, 8) (154, 8)
619    1
329    0
13     1
476    1
45     1
      ..
303    1
592    1
559    0
725    0
253    0
Name: Outcome, Length: 614, dtype: int64

Model Training

In [37]:
classifier = svm.SVC(kernel='linear')

In [38]:
#training the classifier
classifier.fit(x_train , y_train)

SVC(kernel='linear')

Model Evaluation

In [40]:
x_train_prediction = classifier.predict(x_train)

In [41]:
training_data_accuracy = accuracy_score(x_train_prediction,y_train)

In [43]:
print(training_data_accuracy * 100)

78.33876221498372

In [44]:
x_test_prediction = classifier.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction,y_test)
print(test_data_accuracy * 100)

77.27272727272727

Building the Preditive System

In [24]:
#input_data = (9,171,110,24,240,45.4,0.721,54)
input_data = (3,88,58,11,54,24.8,0.267,22)

#change the input data to a numpy array
input_data_as_np_array=np.asarray(input_data)

#reshape the input array, as we will be predicting for one instance
input_data_reshaped=input_data_as_np_array.reshape(1,-1)

In [22]:
prediction = classifier.predict(input_data_reshaped)

/usr/local/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [23]:
if prediction[0]==0:
  print('The person is not diabetic')
else:
  print('The person is diabetic')

The person is not diabetic

In [254]:
import pickle5

In [255]:
filename='diabetes_model.pkl'
pickle5.dump(classifier , open(filename,'wb'))